<div>
  Vážení,<br />
  <br />
  Děkujeme za vaši objednávku vstupenek na %s, který se koná
  %s %s.<br />
  <br />
  Váš výběr byl následující:<br />
  %s<br />
  <b>Pokyny k platbě:</b><br />
  Celková cena objednávky – %s,- Kč<br />
  Bankovní účet: %s/%s (Air Bank)<br />
  Variabilní symbol: %s<br />
  <br />
  <br />
  Přijetí platby vám potvrdíme e-mailem.<br />
  <br />
  K platbě můžete využít i QR Kód:<br />
  <img src="%s" /> <br />
  Těšíme se na viděnou a věříme, že si program náležitě užijete.<br />
  <br />
  Za celý organizační tým zdraví<br />
  <br />
  Petr Barnat<br />
  Manažer komunikace a marketingu ČSTS<br />
  Český svaz tanečního sportu<br />
  Tel. 724 273 440<br />
  <a href="www.csts.cz">www.csts.cz</a>
</div>
