Vážení,
<br />
Vaše platba objednávky vstupenek na %s, který se koná %s %s, dorazila v pořádku. Děkujeme.
<br />
Vstupenky budou připraveny k vyzvednutí v obálce na vaše jméno u vstupu.
<br />
Detailní informace o akci jsou k dispozici na našem webu.
<br />
Věříme, že si program náležitě užijete.
<br />
Těšíme se na viděnou.
<br />
<br />
Za celý organizační tým zdraví
<br />
Petr Barnat
<br />
Manažer komunikace a marketingu
<br />
Český svaz tanečního sportu
<br />
Tel. 724 273 440
<br />
<a href='www.csts.cz'>www.csts.cz</a>